.inputContainer {
  padding: 0 1.5rem;
  border-radius: 100rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  border: 2px solid #ccc;
}

.inputContainer:focus-within {
  border-color: #000;
}

.searchIconLabel {
  display: flex;
}

.input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 1rem;
  padding: 0.7rem;
  background: transparent;
}

.resultsList {
  display: grid;
  gap: 0.5rem;
  position: absolute;
  width: 100%;
  z-index: 1;
  list-style: none;
  background-color: #fff;
  border-radius: 0 0 1rem 1rem;
  box-shadow: 2px 2px 5px rgb(62 65 63 / 16);
  padding: 0.5rem;
  margin: 0;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.listItem {
  padding: 0.5rem;
  border-bottom: 1px solid var(--primary-border-color);
  cursor: pointer;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.userIndex {
  font-size: 13px;
}
