.pictureContainer {
  position: relative;
  display: flex;
}

.picture {
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  padding: 0.2rem;
}

.status {
  position: absolute;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  display: block;
  width: 0.6rem;
  background-color: var(--success-color);
  bottom: 0;
  right: 0;
}
