:root {
  --primary-text-color: #858585;
  --main-color: #fd749b;
  --dark-main-color: hsl(343, 97%, 62%);
  --secondary-color: #281ac8;
  --gradient: linear-gradient(178.18deg, var(--main-color) -13.56%, var(--secondary-color) 158.3%);
  --primary-border-color: #f7f7f7;
  --secondary-border-color: #f0f0f0;
  --success-color: #8cee5d;
  --message-background: #f6f6f6;
  --visited-link: #09f;
  --warning-color: rgb(255, 149, 0);
  --red-color: rgb(255, 59, 48);
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#__next {
  height: 100%;
}

html {
  box-sizing: inherit;
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}
